.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.galleries-column{
  flex: 25%;
  max-width: 25%;
}
.step-wrapper{
  display: flex;
  flex-direction: row;
  min-height: 600px;
}
.step-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.image-wrapper {
  width: 100%;
  display: flex;

}
.step-item img {
  object-fit: cover;
  flex-direction: row;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 800px) {
  .galleries-column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .galleries-column {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .step-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    align-items: center;
  }
}
/*@media (max-width: 425px) {*/
/*  .step-wrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 5px;*/
/*  }*/
/*}*/
